@use "../../styles/mixins" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: var(--space-8xl);
  padding-right: var(--space-m);
  background: var(--color-background-muted);
  border: 1px solid var(--color-border);
  border-top-left-radius: var(--space-m);
}

.list {
  display: flex;
  align-items: stretch;
  height: var(--space-8xl);
}

.add {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-8xl);
  height: var(--space-8xl);
  margin-right: -1px;
  border: 1px solid var(--color-border);
  background: var(--color-background-muted);
  color: var(--color-secondary);

  svg {
    width: var(--space-l);
    height: var(--space-l);
  }
}
