.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(
    244.69deg,
    #ffd446 2.77%,
    #fd8441 30.56%,
    #cc78f1 58.24%,
    #0f83df 86.96%,
    #14abee 115.35%
  );
  color: #ffffff;
}

.md {
  width: 40px;
  height: 40px;
}

.sm {
  width: 28px;
  height: 28px;
}

.initials {
  position: relative;
  z-index: 1;
}
