.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--space-xl);
  height: var(--space-xl);
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  background: var(--color-red);
  color: var(--color-background);
  white-space: nowrap;
}
