:root {
  //////////////////////////////
  // ATOMIC
  //////////////////////////////

  // COLORS
  --color-gray-1: #fcfcfc;

  --color-sage-1: #fbfdfc;
  --color-sage-2: #f7f9f8;
  --color-sage-6: #d7dad9;
  --color-sage-8: #b8bcba;
  --color-sage-10: #7c8481;
  --color-sage-12: #1a211e;

  --color-tomato-2: #fff8f7;
  --color-tomato-4: #ffdcd3;
  --color-tomato-6: #fdbdaf;
  --color-tomato-9: #e54d2e;
  --color-tomato-11: #d13415;

  --color-crimson-2: #fef7f9;
  --color-crimson-4: #fedce7;
  --color-crimson-6: #f3bed1;
  --color-crimson-9: #e93d82;
  --color-crimson-11: #cb1d63;

  --color-purple-2: #fbf7fe;
  --color-purple-4: #f2e2fc;
  --color-purple-6: #e0c4f4;
  --color-purple-9: #8e4ec6;
  --color-purple-11: #8145b5;

  --color-iris-2: #f8f8ff;
  --color-iris-4: #e6e7ff;
  --color-iris-6: #cbcdff;
  --color-iris-9: #5b5bd6;
  --color-iris-11: #5753c6;

  --color-blue-9: #0090ff;

  --color-grass-2: #f5fbf5;
  --color-grass-4: #daf1db;
  --color-grass-6: #b2ddb5;
  --color-grass-9: #46a758;
  --color-grass-11: #2a7e3b;

  --color-brown-2: #fcf9f6;
  --color-brown-4: #f0e4d9;
  --color-brown-6: #e4cdb7;
  --color-brown-9: #ad7f58;
  --color-brown-11: #815e46;

  --color-yellow-2: #fefce9;
  --color-yellow-4: #fff394;
  --color-yellow-6: #f3d768;
  --color-yellow-9: #ffe629;
  --color-yellow-11: #9e6c00;

  --color-orange-2: #fff7ed;
  --color-orange-4: #ffdfb5;
  --color-orange-6: #ffc182;
  --color-orange-9: #f76b15;
  --color-orange-11: #cc4e00;

  --color-black: var(--color-sage-12);
  --color-white: #ffffff;

  // FONTS
  --font-heading: "P22 Mackinac", Georgia, "Times New Roman", serif;
  --font-body: "CXX", Helvetica, Arial, sans-serif;
  --font-mono: "CXXM", ui-monospace, SFMono-Regular, monospace;

  // SPACES
  --space-2xs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 28px;
  --space-4xl: 32px;
  --space-6xl: 40px;
  --space-8xl: 48px;
  --space-9xl: 52px;
  --space-11xl: 60px;
  --space-12xl: 64px;
  --space-13xl: 68px;

  // MOTION
  --transition: 0.3s ease;

  //////////////////////////////
  // SEMANTIC
  //////////////////////////////

  // COLORS
  --color-background: var(--color-white);
  --color-background-muted: var(--color-sage-1);
  --color-sidebar: var(--color-sage-2);
  --color-border: var(--color-sage-6);
  --color-secondary: var(--color-sage-10);
  --color-foreground: var(--color-black);
  --color-hover-dark: color-mix(in srgb, var(--color-foreground) 5%, transparent);
  --color-hover-light: color-mix(in srgb, var(--color-background) 10%, transparent);
  --color-red-background: var(--color-tomato-2);
  --color-red-muted: var(--color-tomato-4);
  --color-red-border: var(--color-tomato-6);
  --color-red: var(--color-tomato-9);
  --color-red-accent: var(--color-tomato-11);
  --color-green-background: var(--color-grass-2);
  --color-green-muted: var(--color-grass-4);
  --color-green-border: var(--color-grass-6);
  --color-green: var(--color-grass-9);
  --color-green-accent: var(--color-grass-11);
  --color-orange-background: var(--color-orange-2);
  --color-orange-muted: var(--color-orange-4);
  --color-orange-border: var(--color-orange-6);
  --color-orange: var(--color-orange-9);
  --color-orange-accent: var(--color-orange-11);
  --color-iris-background: var(--color-iris-2);
  --color-iris-muted: var(--color-iris-4);
  --color-iris-border: var(--color-iris-6);
  --color-iris: var(--color-iris-9);
  --color-iris-accent: var(--color-iris-11);
  --color-brown-background: var(--color-brown-2);
  --color-brown-muted: var(--color-brown-4);
  --color-brown-border: var(--color-brown-6);
  --color-brown: var(--color-brown-9);
  --color-brown-accent: var(--color-brown-11);
  --color-crimson-background: var(--color-crimson-2);
  --color-crimson-muted: var(--color-crimson-4);
  --color-crimson-border: var(--color-crimson-6);
  --color-crimson: var(--color-crimson-9);
  --color-crimson-accent: var(--color-crimson-11);
  --color-yellow-background: var(--color-yellow-2);
  --color-yellow-muted: var(--color-yellow-4);
  --color-yellow-border: var(--color-yellow-6);
  --color-yellow: var(--color-yellow-9);
  --color-yellow-accent: var(--color-yellow-11);
  --color-purple-background: var(--color-purple-2);
  --color-purple-muted: var(--color-purple-4);
  --color-purple-border: var(--color-purple-6);
  --color-purple: var(--color-purple-9);
  --color-purple-accent: var(--color-purple-11);

  // FOCUS
  --focus-ring-width: 3px;
  --focus-ring-color: var(--color-blue-9);
}

[data-theme="dark"] {
  --color-gray-1: #111111;

  --color-sage-1: #101211;
  --color-sage-2: #171918;
  --color-sage-6: #373b39;
  --color-sage-8: #5b625f;
  --color-sage-10: #717d79;
  --color-sage-12: #eceeed;

  --color-tomato-2: #1f1513;
  --color-tomato-4: #4e1511;
  --color-tomato-6: #6e2920;
  --color-tomato-9: #e54d2e;
  --color-tomato-11: #ff977d;

  --color-crimson-2: #201318;
  --color-crimson-4: #4d122f;
  --color-crimson-6: #6d2545;
  --color-crimson-9: #e93d82;
  --color-crimson-11: #ff92ad;

  --color-purple-2: #1e1523;
  --color-purple-4: #3d224e;
  --color-purple-6: #54346b;
  --color-purple-9: #8e4ec6;
  --color-purple-11: #d19dff;

  --color-iris-2: #171625;
  --color-iris-4: #262a65;
  --color-iris-6: #3d3e82;
  --color-iris-9: #5b5bd6;
  --color-iris-11: #b1a9ff;

  --color-blue-9: #0090ff;

  --color-grass-2: #141a15;
  --color-grass-4: #1d3a24;
  --color-grass-6: #2d5736;
  --color-grass-9: #46a758;
  --color-grass-11: #71d083;

  --color-brown-2: #1c1816;
  --color-brown-4: #322922;
  --color-brown-6: #4d3c2f;
  --color-brown-9: #ad7f58;
  --color-brown-11: #dbb594;

  --color-yellow-2: #1b180f;
  --color-yellow-4: #362b00;
  --color-yellow-6: #524202;
  --color-yellow-9: #ffe629;
  --color-yellow-11: #f5e147;

  --color-orange-2: #1e160f;
  --color-orange-4: #462100;
  --color-orange-6: #66350c;
  --color-orange-9: #f76b15;
  --color-orange-11: #ffa057;

  --color-black: #ffffff;
  --color-white: var(--color-sage-1);
}
